<div class="page-header">
  <h1>Service #<%= @service.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Building</dt>
  <dd><%= @service.building.name %></dd>

  <dt>Part door</dt>
  <dd><%= @service.part_door %></dd>

  <dt>Full door</dt>
  <dd><%= @service.full_door %></dd>

  <dt>Catering</dt>
  <dd><%= @service.catering %></dd>

  <dt>Housekeeping</dt>
  <dd><%= @service.housekeeping %></dd>

  <dt>Dry cleaning</dt>
  <dd><%= @service.dry_cleaning %></dd>

  <dt>Concierge</dt>
  <dd><%= @service.concierge %></dd>

  <dt>Package receiving</dt>
  <dd><%= @service.package_receiving %></dd>

  <dt>Car wash</dt>
  <dd><%= @service.car_wash %></dd>

  <dt>Dog wash</dt>
  <dd><%= @service.dog_wash %></dd>

  <dt>Restaurant</dt>
  <dd><%= @service.restaurant %></dd>

  <dt>Social</dt>
  <dd><%= @service.social %></dd>

  <dt>Groceries</dt>
  <dd><%= @service.groceries %></dd>

  <dt>Note</dt>
  <dd><%= @service.note %></dd>

</dl>
