<div class="page-header">
  <h1>Followings</h1>
</div>

<p><a href="/followings/new" class="btn btn-primary">Add a New Following</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Follower</th>
      <th>Building</th>
      <th>Buyer</th>
      <th>Seller</th>
      <th>Note</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @followings.each do |following| %>
      <tr>
        <td><%= following.user.name %></td>
        <td><%= following.building_id %></td>
        <td><%= following.buyer %></td>
        <td><%= following.seller %></td>
        <td><%= following.note %></td>
        <td>
          <a href="/followings/<%= following.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/followings/<%= following.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_following/<%= following.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

