<div class="page-header">
  <h1>Following #<%= @following.user.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Follower</dt>
  <dd><%= @following.user.name %></dd>

  <dt>Building</dt>
  <dd><%= @following.building.name %></dd>

  <dt>Buyer</dt>
  <dd><%= @following.buyer %></dd>

  <dt>Seller</dt>
  <dd><%= @following.seller %></dd>

  <dt>Note</dt>
  <dd><%= @following.note %></dd>

</dl>
