<div class="page-header">
  <% if current_user.present? %>
 <h1>Following #<%= @following.user.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Follower</dt>
  <dd><%= @following.user.name %></dd>

  <dt>Building</dt>
  <dd><%= @following.building.name %></dd>

  <dt>Buyer</dt>
  <dd><%= @following.buyer %></dd>

  <dt>Seller</dt>
  <dd><%= @following.seller %></dd>

  <dt>Note</dt>
  <dd><%= @following.note %></dd>
<% else %>
  Please <a href="/users/sign_in">sign in</a> to view.
  <% end %>
</dl>
