<style type="text/css">


  .well{
    background-color: rgb(216, 216, 216);
  }


</style>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Account Access</h3>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Update" %>
        </div>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">My Favorites</h3>
        </div>
        <div class="panel-body">

          <% @user.favoritings.each do |favorite| %>
          <p><a href="/buildings/<%= favorite.building.id %>"><img src="<%= favorite.building.image_url %>" data-src="holder.js/100%x180" alt="Photo not found" height="70" width="70"> <%= favorite.building.name %></a>
            <a href="/delete_favoriting/<%= favorite.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Notifications</h3>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Building</th>
                <th>Units?</th>
                <th>Buyer Interest?</th>
              </tr>
            </thead>
            <tbody>
              <% @user.followings.each do |following| %>
              <tr>
                <td>
                  <%= following.building.name %>
                </td>
                  <div class="form-group">
                    <input type="hidden" placeholder="follower_id" name="follower_id" class="form-control" value="<%= current_user.id %>">
                    <input type="hidden" placeholder="building_id" name="building_id" class="form-control" value="<%= following.building_id %>">
                    <td>
                      <input type="checkbox" id="buyer" name="buyer" value="1" <%= "checked" if following.buyer %>>
                    </td>
                    <td>
                      <input type="checkbox" id="seller" name="seller" value="1" <%= "checked" if following.seller %>>
                    </td>
                    <td>
                      <a href="/update_following/<%= following.id %>" class="btn btn-warning">
                        <i class="fa fa-edit"></i>
                      </a>
                      <a href="/delete_following/<%= following.id %>" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                      </a>
                    </td>
                    <% end %>
                  </div>
                </form>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
       <div class="panel-heading">
        <h3 class="panel-title">Your Building Chatter</h3>
      </div>
      <% @user.comments.each do |comment| %>
      <small><%= time_ago_in_words(comment.created_at) %> ago</small>
      <p>
        <strong><%= comment.building.name %></strong>
        <%= comment.content %>
      </p>
      <% end %>
    </div>
  </div>
</div>
<% end %>
</div>
