<% if current_user.present? %>
<% if @restriction.errors.any? %>
  <% @restriction.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h1>Edit Restriction #<%= @restriction.id %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_restriction/<%= @restriction.id %>" class="form-horizontal">
      <!-- Label and input for building_id -->
      <div class="form-group">
        <label for="building_id" class="col-sm-2 control-label">
          Building
        </label>
        <div class="col-sm-10">
          <input type="text" id="building_id" name="building_id" placeholder="Building" class="form-control" value="<%= @restriction.building_id %>">
        </div>
      </div>

      <!-- Label and input for no_rental -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label for="no_rental">
              <input type="checkbox" id="no_rental" name="no_rental" value="1" <%= "checked" if @restriction.no_rental %>>
              No rental
            </label>
          </div>
        </div>
      </div>

      <!-- Label and input for rental_cap -->
      <div class="form-group">
        <label for="rental_cap" class="col-sm-2 control-label">
          Rental cap
        </label>
        <div class="col-sm-10">
          <input type="text" id="rental_cap" name="rental_cap" placeholder="Rental cap" class="form-control" value="<%= @restriction.rental_cap %>">
        </div>
      </div>

      <!-- Label and input for credit -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label for="credit">
              <input type="checkbox" id="credit" name="credit" value="1" <%= "checked" if @restriction.credit %>>
              Credit
            </label>
          </div>
        </div>
      </div>

      <!-- Label and input for reference -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label for="reference">
              <input type="checkbox" id="reference" name="reference" value="1" <%= "checked" if @restriction.reference %>>
              Reference
            </label>
          </div>
        </div>
      </div>

      <!-- Label and input for interview -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label for="interview">
              <input type="checkbox" id="interview" name="interview" value="1" <%= "checked" if @restriction.interview %>>
              Interview
            </label>
          </div>
        </div>
      </div>

      <!-- Label and input for min_down -->
      <div class="form-group">
        <label for="min_down" class="col-sm-2 control-label">
          Min down
        </label>
        <div class="col-sm-10">
          <input type="text" id="min_down" name="min_down" placeholder="Min down" class="form-control" value="<%= @restriction.min_down %>">
        </div>
      </div>

      <!-- Label and input for no_cat -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label for="no_cat">
              <input type="checkbox" id="no_cat" name="no_cat" value="1" <%= "checked" if @restriction.no_cat %>>
              No cat
            </label>
          </div>
        </div>
      </div>

      <!-- Label and input for no_dog -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label for="no_dog">
              <input type="checkbox" id="no_dog" name="no_dog" value="1" <%= "checked" if @restriction.no_dog %>>
              No dog
            </label>
          </div>
        </div>
      </div>

      <!-- Label and input for cat_count_limit -->
      <div class="form-group">
        <label for="cat_count_limit" class="col-sm-2 control-label">
          Cat count limit
        </label>
        <div class="col-sm-10">
          <input type="text" id="cat_count_limit" name="cat_count_limit" placeholder="Cat count limit" class="form-control" value="<%= @restriction.cat_count_limit %>">
        </div>
      </div>

      <!-- Label and input for dog_count_limit -->
      <div class="form-group">
        <label for="dog_count_limit" class="col-sm-2 control-label">
          Dog count limit
        </label>
        <div class="col-sm-10">
          <input type="text" id="dog_count_limit" name="dog_count_limit" placeholder="Dog count limit" class="form-control" value="<%= @restriction.dog_count_limit %>">
        </div>
      </div>

      <!-- Label and input for dog_weight_limit -->
      <div class="form-group">
        <label for="dog_weight_limit" class="col-sm-2 control-label">
          Dog weight limit
        </label>
        <div class="col-sm-10">
          <input type="text" id="dog_weight_limit" name="dog_weight_limit" placeholder="Dog weight limit" class="form-control" value="<%= @restriction.dog_weight_limit %>">
        </div>
      </div>

      <!-- Label and input for all_dog_weight_limit -->
      <div class="form-group">
        <label for="all_dog_weight_limit" class="col-sm-2 control-label">
          All dog weight limit
        </label>
        <div class="col-sm-10">
          <input type="text" id="all_dog_weight_limit" name="all_dog_weight_limit" placeholder="All dog weight limit" class="form-control" value="<%= @restriction.all_dog_weight_limit %>">
        </div>
      </div>

      <!-- Label and input for all_pet_count_limit -->
      <div class="form-group">
        <label for="all_pet_count_limit" class="col-sm-2 control-label">
          All pet count limit
        </label>
        <div class="col-sm-10">
          <input type="text" id="all_pet_count_limit" name="all_pet_count_limit" placeholder="All pet count limit" class="form-control" value="<%= @restriction.all_pet_count_limit %>">
        </div>
      </div>

      <!-- Label and input for note -->
      <div class="form-group">
        <label for="note" class="col-sm-2 control-label">
          Note
        </label>
        <div class="col-sm-10">
          <textarea id="note" name="note" placeholder="Note" class="form-control" rows="3"><%= @restriction.note %></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Update Restriction" class="btn btn-primary">
        </div>
      </div>
    </form>
    <% else %>
  Please <a href="/users/sign_in">sign in</a> to view.
  <% end %>
  </div>
</div>

