<div class="page-header">
 <% if current_user.present? %>
  <h1>Restriction #<%= @restriction.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Building</dt>
  <dd><%= @restriction.building.name %></dd>

  <dt>No rental</dt>
  <dd><%= @restriction.no_rental %></dd>

  <dt>Rental cap</dt>
  <dd><%= @restriction.rental_cap %></dd>

  <dt>Credit</dt>
  <dd><%= @restriction.credit %></dd>

  <dt>Reference</dt>
  <dd><%= @restriction.reference %></dd>

  <dt>Interview</dt>
  <dd><%= @restriction.interview %></dd>

  <dt>Min down</dt>
  <dd><%= @restriction.min_down %></dd>

  <dt>No cat</dt>
  <dd><%= @restriction.no_cat %></dd>

  <dt>No dog</dt>
  <dd><%= @restriction.no_dog %></dd>

  <dt>Cat count limit</dt>
  <dd><%= @restriction.cat_count_limit %></dd>

  <dt>Dog count limit</dt>
  <dd><%= @restriction.dog_count_limit %></dd>

  <dt>Dog weight limit</dt>
  <dd><%= @restriction.dog_weight_limit %></dd>

  <dt>All dog weight limit</dt>
  <dd><%= @restriction.all_dog_weight_limit %></dd>

  <dt>All pet count limit</dt>
  <dd><%= @restriction.all_pet_count_limit %></dd>

  <dt>Note</dt>
  <dd><%= @restriction.note %></dd>
<% else %>
  Please <a href="/users/sign_in">sign in</a> to view.
  <% end %>
</dl>
