<div class="page-header">
  <h1>Attributes</h1>
</div>

<p><a href="/attributes/new" class="btn btn-primary">Add a New Attribute</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Building</th>
      <th>Ownership</th>
      <th>Unit count</th>
      <th>Stories</th>
      <th>Note</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attributes.each do |attribute| %>
      <tr>
        <td><%= attribute.building.name %></td>
        <td><%= attribute.ownership %></td>
        <td><%= attribute.unit_count %></td>
        <td><%= attribute.stories %></td>
        <td><%= attribute.note %></td>
        <td>
          <a href="/attributes/<%= attribute.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/attributes/<%= attribute.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_attribute/<%= attribute.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

