<div class="page-header">
  <h1>Attribute #<%= @attribute.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Building</dt>
  <dd><%= @attribute.building.name %></dd>

  <dt>Ownership</dt>
  <dd><%= @attribute.ownership %></dd>

  <dt>Unit count</dt>
  <dd><%= @attribute.unit_count %></dd>

  <dt>Stories</dt>
  <dd><%= @attribute.stories %></dd>

  <dt>Note</dt>
  <dd><%= @attribute.note %></dd>

</dl>
