<div class="page-header">
  <h1>Space #<%= @space.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Building</dt>
  <dd><%= @space.building.name %></dd>

  <dt>Storage</dt>
  <dd><%= @space.storage %></dd>

  <dt>Bike storage</dt>
  <dd><%= @space.bike_storage %></dd>

  <dt>Party room</dt>
  <dd><%= @space.party_room %></dd>

  <dt>Sundeck</dt>
  <dd><%= @space.sundeck %></dd>

  <dt>Parking leased</dt>
  <dd><%= @space.parking_leased %></dd>

  <dt>Parking owned</dt>
  <dd><%= @space.parking_owned %></dd>

  <dt>Wine cellar</dt>
  <dd><%= @space.wine_cellar %></dd>

  <dt>Humidor</dt>
  <dd><%= @space.humidor %></dd>

  <dt>Dog run</dt>
  <dd><%= @space.dog_run %></dd>

  <dt>Lounge</dt>
  <dd><%= @space.lounge %></dd>

  <dt>Biz center</dt>
  <dd><%= @space.biz_center %></dd>

  <dt>Conf room</dt>
  <dd><%= @space.conf_room %></dd>

  <dt>Theater</dt>
  <dd><%= @space.theater %></dd>

  <dt>Guest parking</dt>
  <dd><%= @space.guest_parking %></dd>

  <dt>Guest stay</dt>
  <dd><%= @space.guest_stay %></dd>

  <dt>Note</dt>
  <dd><%= @space.note %></dd>

</dl>
