<div class="page-header">
  <h1>Active #<%= @active.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Building</dt>
  <dd><%= @active.building_id %></dd>

  <dt>Fitness</dt>
  <dd><%= @active.fitness %></dd>

  <dt>In pool</dt>
  <dd><%= @active.in_pool %></dd>

  <dt>Out pool</dt>
  <dd><%= @active.out_pool %></dd>

  <dt>In tennis</dt>
  <dd><%= @active.in_tennis %></dd>

  <dt>Out tennis</dt>
  <dd><%= @active.out_tennis %></dd>

  <dt>Bball</dt>
  <dd><%= @active.bball %></dd>

  <dt>Spa</dt>
  <dd><%= @active.spa %></dd>

  <dt>Note</dt>
  <dd><%= @active.note %></dd>

</dl>
