<div class="page-header">
  <h1>My Account</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= current_user.name %></dd>

  <dt>Email</dt>
  <dd><%= @user.email %></dd>

  <dt>First name</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Phone number</dt>
  <dd><%= @user.phone_number %></dd>

  <dt>Address1</dt>
  <dd><%= @user.address1 %></dd>

  <dt>Address2</dt>
  <dd><%= @user.address2 %></dd>

  <dt>City</dt>
  <dd><%= @user.city %></dd>

  <dt>State</dt>
  <dd><%= @user.state %></dd>

  <dt>Zip</dt>
  <dd><%= @user.zip %></dd>

  <dt>Country</dt>
  <dd><%= @user.country %></dd>

  <h3>My Comments</h3>
  <% @user.comments.each do |comment| %>
  <%= comment.building.name %> |
  <%= comment.content %>

  <% end %>

  <h3>My Favorites</h3>
  <% @user.favoritings.each do |favorite| %>
  <%= favorite.building.name %> |
  <%= favorite.building.address %>

  <% end %>

<h3>Buildings I Follow</h3>
  <% @user.followings.each do |following| %>
  <%= following.building.name %> |
  <%= following.buyer %>
  <%= following.seller %>


  <% end %>

</dl>
