<div class="page-header">
  <h1>All Buildings</h1>
<% if current_user.present? %>

</div>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Condo Buildings: <%= params[:search] %></h3>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <% @buildings.each do |building| %>
            <a href="/buildings/<%= building.id %>" class="thumbnail" align="center">
              <img src="<%= building.image_url %>" data-src="holder.js/100%x180" alt="Photo not found" height="90" width="90">
              <%= building.name %>
              <p><%= building.address %>, <%= building.zip %></p>
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<% else %>
                      Please <a href="/users/sign_in">sign in</a> to view.
                      <% end %>

