<div class="page-header">
  <!-- <h1><%= @building.name %></h1> -->
</div>

<!-- <dl class="dl-horizontal">
  <dt>Photo</dt>
  <dd><%= @building.image_url %></dd>
-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3><%= @building.name %> <a href="#" class="btn btn-warning btn-xs">
        <i class="fa fa-star-o"></i>
      </a>
    </h3>
    <h4><%= @building.address %>, <%= @building.city %>, <%= @building.state %> <%= @building.zip %>  </h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5><%= @building.headline %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8" align="center">
      <div class="well well-lg">
        <img src="<%= @building.image_url %>" width=400px height=400px alt="<%= @building.name %>" class="img-responsive">
      </div>

    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">

        <div class="panel-heading">
          <h3 class="panel-title">Building Details</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Free Wifi
              <i class="fa fa-wifi"></i></li>
              <li>Public Transport
                <i class="fa fa-bus"></i></li>
                <li>Deeded Parking
                  <i class="fa fa-automobile"></i></li>
                  <li>Bike Storage
                    <i class="fa fa-bicycle"></i></li>
                    <li>Business Center
                      <i class="fa fa-laptop"></i></li>
                      <li>Concierge
                        <i class="fa fa-question"></i></li>
                      </ul>

                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-12">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Comments</h3>
                  </div>
                  <div class="panel-body">
                    <% @building.comments.each do |building_comment| %><ul>
                    <%= building_comment.user.email %>
                    <%= building_comment.content %>
                    <% end %>
                  </div>


                </dl>
