<div class="page-header">
  <h1>Neighborhood: <%= @area.name %></h1>
</div>

<!-- <dl class="dl-horizontal">
  <dt>Neighborhood:</dt>
  <dd><%= @area.name %></dd>
</dl>
 -->

<div>
  <h3>Properties in this area:</h3>
<ul>
<!--   @area is row from Area matching the params. -->
<!-- Take this id to assignments table and finding all corresponding building_ids -->
<%= @area.assignments.each do |hoodmatch| %>
</ul>
<!--   Take these building_ids to the buildings table and find all corresponding building names -->
<!--  return these building photo, names, addresses -->
<a href="/buildings/<%= hoodmatch.building.id %>">
<li><%= hoodmatch.building.image_url %></a> -
<a href="/buildings/<%= hoodmatch.building.id %>">
<%= hoodmatch.building.name %></a> -
<%= hoodmatch.building.address %></li>
<% end %>
</div>

