<!DOCTYPE html>
<style type="text/css">

</style>
<html>

<div class="page-header">
  <h1>Neighborhood: <%= @area.name %></h1>
  <% if current_user.present? %>
</div>

<body>
 <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
         <h3 class="panel-title"><%= @area.name %> Buildings</h3>
       </div>
       <div class="panel-body">
        <div class="col-md-3">
                  <% @area.assignments.each do |hoodmatch| %>
<a href="/buildings/<%= hoodmatch.building.id %>" class="thumbnail" align="center">
            <img src="<%= hoodmatch.building.image_url %>" data-src="holder.js/100%x180" alt="Photo not found" height="90" width="90">
            <%= hoodmatch.building.name %>
            <p><%= hoodmatch.building.address %>, <%= hoodmatch.building.zip %></p>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
<% else %>
Please <a href="/users/sign_in">sign in</a> to view.
<% end %>
