<div class="page-header">
 <% if current_user.present? %>
 <h1>Favoritings</h1>
</div>

<p><a href="/favoritings/new" class="btn btn-primary">Add a New Favoriting</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Building</th>
      <th>Favorited by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @favoritings.each do |favoriting| %>
      <tr>
        <td><%= favoriting.building.name %></td>
        <td><%= favoriting.user.email %></td>
        <td>
          <a href="/favoritings/<%= favoriting.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/favoritings/<%= favoriting.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_favoriting/<%= favoriting.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  Please <a href="/users/sign_in">sign in</a> to view buildings.
  <% end %>
