<div class="page-header">
  <h1>Stat #<%= @stat.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Building</dt>
  <dd><%= @stat.building.name %></dd>

  <dt>Ownership</dt>
  <dd><%= @stat.ownership %></dd>

  <dt>Year built</dt>
  <dd><%= @stat.year_built %></dd>

  <dt>Unit count</dt>
  <dd><%= @stat.unit_count %></dd>

  <dt>Stories</dt>
  <dd><%= @stat.stories %></dd>

  <dt>Note</dt>
  <dd><%= @stat.note %></dd>

</dl>
